<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Lobster&family=Nanum+Pen+Script&family=Single+Day&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<style>
	body, body *{
		font-family: 'Jua'
	}
</style>
</head>
<body>
<a href="/" style="font-size:30px;margin-left:400px;text-decoration:none;color:red;" >HOME 바로가기</a>
<table class="table table-bordered" style="width:500px;margin:20px 400px;">
<tr bgcolor="#bbb">
<th>번호</th>
<th>상품명</th>
<th>사진</th>
<th>수량</th>
<th>가격</th>
</tr>
<tr th:each="dto,iter:${list}">
	<td>
		<span th:text="${iter.count}"></span>
		:
		<span th:text="${iter.index}"></span>
	</td>
	<td>
		<span th:text="${dto.sang}"></span>
	</td>
	<td>
	<a th:href="@{/detail(index=${iter.index})}">
		<img th:src="${dto.photo}" width="100" border="2" th:if="${dto.photo!=null}">
	</a>
	</td>
	<td>
		<span th:text="${dto.su}"></span>개
	</td>
	<td>
		<span th:text="${#numbers.formatInteger(dto.dan,0,'COMMA')}"></span>원
	</td>
</tr>
</table>
</body>
</html>

